html
    body(bgcolor="lightblue")    
        h1 Delete Course portal
        form(action="/delcou" method="post")
            label Course code
            input(type="text" name="courses")
            br
            input(type="submit")
        br
        a(href="/admin")
            p admin home