html
    body(bgcolor="lightblue")    
        h1 Delete Student portal
        form(action="/delstd" method="post")
            label registration no
            input(type="text" name="regno")
            br
            input(type="submit")
        br
        a(href="/admin")
            p admin home