html
    body(bgcolor="lightblue")
        p Welcome #{name} to FFCS portal
        p Registered Courses
        p #{reg_cou}
        p Busy slots
        p #{busy}
        br
        a(href="/joincou")
            p Join course
        a(href="/exitcou")
            p Exit coure
        a(href="/login")
            p logout